services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    healthcheck:
      test: nc -z 127.0.0.1 2181 || exit -1
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

  kafka:
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "9093:9093"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: kafka-topics --bootstrap-server localhost:9092 --list
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

  postgres:
    image: postgres:18
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: social_dating_db
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d social_dating_db
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s
    volumes:
      - social_dating_data:/var/lib/postgresql
      - ./postgres-init.sql:/docker-entrypoint-initdb.d/postgres-init.sql

  gateway-service:
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      JWT_SECRET: ${JWT_SECRET}
    build:
      context: ./gateway-service
    healthcheck:
      test: curl -f http://localhost:8080/actuator/health
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

  users-service:
    depends_on:
      postgres:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      ACCESS_TOKEN_EXPIRATION: ${ACCESS_TOKEN_EXPIRATION}
      REFRESH_TOKEN_EXPIRATION: ${REFRESH_TOKEN_EXPIRATION}
    build:
      context: ./users-service
    healthcheck:
      test: curl -f http://localhost:8010/actuator/health
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

  categories-service:
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    build:
      context: ./categories-service
    healthcheck:
      test: curl -f http://localhost:8020/actuator/health
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

  defining-themes-service:
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    build:
      context: ./defining-themes-service
    healthcheck:
      test: curl -f http://localhost:8030/actuator/health
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

  statements-service:
    depends_on:
      kafka:
        condition: service_healthy
      postgres:
        condition: service_healthy
      gateway-service:
        condition: service_healthy
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    build:
      context: ./statements-service
    healthcheck:
      test: curl -f http://localhost:8040/actuator/health
      retries: 5
      interval: 10s
      start_period: 10s
      timeout: 5s

volumes:
  social_dating_data:
